.header h1{
    font-weight: 900;
    font-size: 1.8em;
}



.header{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    height: 4rem;
    border: 1px solid red;
    display: flex;
    align-items: center;
    font-weight: 500;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    /* justify-content: center; */
}
.headerContainer{
    max-width: 1440px;
    width: 100%;                        
    /* border: 1px solid yellowgreen; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .headerList ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.header .headerList ul li{
    cursor: pointer;
}
.header .headerList ul li:hover{
    color: #1e4fbc;
}

.navBtn{
    background-color: var(--primary-btn-color);
    color: var(--primary-text-color);
    font-weight: 700;
}

.navBtn:hover{
    background-color: #1e4fbc;
}

.navLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: var(--primary-text-color);
    text-decoration: none;
    cursor: pointer;
}

.selected{
    color: #1e4fbc;
    
}