main{
    border: 1px solid red;
    height: calc(100vh - 4rem );
    background-image: url('../../assets/homeDecor.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16em 16em;
}

main h1{
    font-size: 3em;
    font-weight: 700;
    padding-left: 1em;
}

main h1 span{
    padding-left: 0.4em;
    color: #be123c;
}

main p{
    padding-left: 0.8em;
    font-size: 1.2em;
}

main p:nth-child(4){
    margin-top: 0.2em;
    margin-bottom: 1.5em;
    /* border: 1px solid red; */
    padding-left: 2em;
}

main .mBtn1{
    margin: 0em 1em;
    background-color: #be123c;
    color: white;
    width: 12em;
    height: 3.5em;
}

main .mBtn2{
    margin: 0em 1em;
    background-color:white ;
    color: #be123c;
    width: 12em;
    height: 3.5em;
}